i {
  cursor: pointer;
  margin-right: 8px;
}
#basic-nav-dropdown {
  padding-left: 0;
}

//---Login---
.login-container {
  button:disabled {
    cursor: not-allowed;
  }
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  .title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
    font-weight: 600;
  }
  .login-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    .input-item {
      line-height: 60px;
      border-radius: 11px;
      margin-bottom: 8px;
      padding: 0 15px;
      outline: none;
      &:hover {
        background-color: rgb(255, 247, 237);
      }
    }
    .password {
      position: relative;
      .password-input {
        width: 100%;
      }
      .fa-regular.fa-eye-slash {
        position: absolute;
        top: 24px;
        right: 10px;
      }
    }
  }
  .forget-pw {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      font-weight: 600;
    }
  }
  .login-btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    border-radius: 11px;
    font-weight: 500;
    cursor: pointer;

    .fa-spinner {
      margin-right: 10px;
    }
  }
  .go-back {
    line-height: 40px;
    .fa-angle-left {
      margin-right: 3px;
      position: relative;
      top: 1px;
    }
    .go-back-content {
      cursor: pointer;
    }
    &:hover {
      font-weight: 600;
    }
  }
}
