body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//common
.align-center {
  text-align: center;
}

//focus
.wrap-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h5 {
    margin: 0;
  }
  .wrap-btn {
    display: flex;
    gap: 10px;
  }
}

.action-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sort-wrap {
  display: flex;
  gap: 15px;
  justify-content: center;
  line-height: 22px;
  .sort-icon {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    i {
      cursor: pointer;

      height: 4px;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.btn-content {
  margin-left: 4px;
  margin-right: 4px;
}
